body{
    color: white;
    background: linear-gradient(to right top,orange,red);
}
.heading{
    width:80%;
    font-size: 22px;
}
.camera{
    height: 360px;
    width : 360px;
    border :2px dashed black;
}
.name_of_objects{
    color: yellow;
}
#result_object_name, #result_object_accuracy{
    color: brown;
}

